.bg-theme {
	background: linear-gradient(180deg, #3c0753 0%, #720455 95%, #910a67 100%);
}

.text-gradient {
	background: linear-gradient(45deg, #de6bed 20%, #9579e6 50%, #de6bed 90%);
	background-size: 200% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.timeline-list ul {
	list-style-type: disc;
	padding-left: 16px;
}
